appName=Patch Utils
appVersion=v1.0-alpha
fileExtensionsAllowed=class, jrxml, jasper, java, txt, bat, sql, properties, ini, xml, zip, jar
fontExtensionsAllowed=ttf
patchesFolder=patches
patchCreateSuccessMessage=Patch created successfully in ${prop.patchesFolder} folder with name ${get_patch_name}
patchDefaultName=patch_${get_today_date,MM-DD-YYYY hh-mm a}
